h1, h2, h3, h4, h5, p, a {
    font-family: "Zen Maru Gothic", system-ui;
    font-weight: 500;
    font-style: normal;
}

a:link { 
    text-decoration: none; 
}

.waves {
    background-image: url("/static/images/waves-edit.webp");
    background-size: cover;
}

.no-border {
    border: 0;
}
