{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-11 card mb-4">
        <img src="{{ imagepost.image.url }}" class="card-img-top mt-3" alt="{{ imagepost.title }}">
        <div class="card-body">
            <h5 class="card-title">{{ imagepost.title }} by <a
                    href="{% url 'profile' imagepost.uploader.id %}">{{ imagepost.uploader }}</a></h5>
            <p>
                <a href="{% url 'imagepost_like' imagepost.slug %}">
                    {% if user in imagepost.likes.all %}<i class="fa-regular fa-thumbs-down"></i> {% else %}<i
                        class="fa-regular fa-thumbs-up"></i> {% endif %}
                </a>{{ imagepost.number_of_likes }}
            </p>
            <p class="card-text">{{ imagepost.message }}</p>
            <p>tags:
                {% for tag in imagepost.tags.all %}
                <span><a href="{% url 'tag' tag.slug %}">{{ tag }}</a></span>&nbsp;
                {% endfor %}
            </p>
            <p class="card-text"><small class="text-body-secondary">Created on {{ imagepost.created_on }}</small></p>
            {% if imagepost.uploader == request.user %}
            <a href="{% url 'imagepost_edit' imagepost.slug %}">
                <button class="btn btn-primary">Update</button>
            </a>
            <button class="btn btn-danger" id="image-delete">Delete</button>
            {% endif %}
        </div>
    </div>
</div>

<!-- Displaying Comments -->
<div class="row justify-content-center">
    <div class="col-sm-11 col-md-6 card mb-4 mt-3">
        <h3 class="card-title p-3">Comments:</h3>
        <div class="card-body">
            {% for comment in image_comments %}
                {% if comment.status == 0 and comment.author == user %}
                <div class="card-text opacity-75">
                    <p>
                        <a href="{% url 'profile' comment.author.id %}">@{{ comment.author }}&nbsp</a>
                        <span class="fw-light">
                            {{ comment.created_on }}
                        </span>
                    </p>
                    <div id="comment{{ comment.id }}">
                        {{ comment.body | linebreaks }}
                    </div>
                    <p>
                        This comment is awaiting approval
                    </p>
                    <button class="btn btn-primary btn-edit" data-comment_id="{{ comment.id }}">Edit</button>
                    <button class="btn btn-danger btn-comment-delete" data-comment_id="{{ comment.id }}">Delete</button>
                </div> <br>
                {% elif comment.status == 1 %}
                <div class="card-text">
                    <p>
                        <a href="{% url 'profile' comment.author.id %}">@{{ comment.author }}&nbsp</a>
                        <span class="fw-light">
                            {{ comment.created_on }}
                        </span>
                    </p>
                    <div id="comment{{ comment.id }}">
                        {{ comment.body | linebreaks }}
                    </div>
                    <div>
                        <p>
                            <a href="{% url 'comment_like' imagepost.slug comment.id %}">
                                {% if user in comment.likes.all %}<i class="fa-regular fa-thumbs-down"></i> {% else %}<i
                                    class="fa-regular fa-thumbs-up"></i> {% endif %}
                            </a>
                            <span>{{ comment.number_of_likes }}</span>
                        </p>
                    </div>
                    {% if user.is_authenticated and comment.author == user %}
                    <button class="btn btn-primary btn-edit" data-comment_id="{{ comment.id }}">Edit</button>
                    <button class="btn btn-danger btn-comment-delete" data-comment_id="{{ comment.id }}">Delete</button>
                    {% endif %}
                </div> <br>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <!-- Creating New Comments -->
    <div class="col-sm-11 col-md-5 card mb-4 mt-3">
        <div class="card-body">
            {% if user.is_authenticated %}
            <h3>Leave a comment:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form id="imageCommentForm" method="post" style="margin-top: 1.3em;">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button id="submitButton" type="submit" class="btn btn-primary btn-signup btn-lg">Submit</button>
            </form>
            {% else %}
            <p>Log in to leave a comment</p>
            {% endif %}
        </div>
    </div>
</div>

<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="delete-message"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/imagepost.js' %}"></script>
{% endblock %}