{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-8 card m-3">
        <img src="{{ imagepost.image.url }}" class="card-img-top mt-3" alt="{{ imagepost.title }}">
        <div class="card-body">
            <h5 class="card-title">{{ imagepost.title }} by <a
                    href="{% url 'profile' imagepost.uploader.id %}">{{ imagepost.uploader }}</a></h5>
            <p class="card-text">{{ imagepost.message }}</p>
            <p class="card-text"><small class="text-body-secondary">Created on {{ imagepost.created_on }}</small></p>
        </div>
    </div>
</div>

<!-- Displaying Comments -->
<div class="row">
    <div class="col-md-8 card mb-4  mt-3 ">
        <h3>Comments:</h3>
        <div class="card-body">
            {% for comment in image_comments %}
            <div class="p-2
                        {% if comment.status == 0 and comment.author == user %}
                        faded{% elif comment.status == 0 %} d-none{% endif %}">
                <p class="font-weight-bold">
                    {{ comment.author }}
                    <span class="font-weight-normal">
                        {{ comment.created_on }}
                    </span> wrote:
                </p>
                <div id="comment{{ comment.id }}">
                    {{ comment.body | linebreaks }}
                </div>
                {% if comment.status == 0 and comment.author == user %}
                <p class="approval">
                    This comment is awaiting approval
                </p>
                {% endif %}
            </div>
            <!-- Our for loop ends here -->
            {% endfor %}
        </div>
    </div>
    <!-- Creating New Comments -->
    <div class="col-md-4 card mb-4 mt-3">
        <div class="card-body">
            {% if user.is_authenticated %}
            <h3>Leave a comment:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form id="imageCommentForm" method="post" style="margin-top: 1.3em;">
                {% csrf_token %}
                {{ comment_form }}
                <button id="submitButton" type="submit" class="btn btn-signup btn-lg">Submit</button>
            </form>
            {% else %}
            <p>Log in to leave a comment</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}