{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="card mb-3">
    <div class="row g-0 justify-content-center">
        <div class="col-md-4">
            <img {% if "placeholder" in profile.image.url %}
            src="{% static 'images/placeholder.jpg' %}"
              alt="placeholder image"
            {% else %}
            src=" {{ profile.image.url }}"
              alt="{{ profile.user.username }}'s profile pic"
            {% endif %}>
        </div>
        <div class="col-md-6">
            <div class="card-body">
                <h5 class="card-title">{{ profile.user.username }}</h5>
                <p class="card-text">
                    {{ profile.bio }}
                </p>
                <p class="card-text">
                    <small class="text-body-secondary">
                        Joined {{ profile.user.date_joined }}
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        {% for imagepost in profile_images|slice:"6" %}
            <a href="{% url 'imagepost' imagepost.slug %}">
                <img src="{{ imagepost.image.url }}" alt="{{ imagepost.title }}"
                    class="w-100 shadow-1-strong rounded mb-4 ">
            </a>
            {% if forloop.last %}
            {% elif forloop.counter|divisibleby:2 %}
                </div>
                <div class="col-lg-2">
            {% endif %}
        {% endfor %}
    </div>
    <a href="{% url 'profile-posts' profile.user_id %}">
        <p>Show all</p>
    </a>
</div>

{% endblock %}