{% extends "main/imagelist.html" %}

{% block title %}

<div class="container-fluid">
    {% if searched %}
        {% if imagepost_list.count == 0 %}
        <div class="row justify-content-center align-content-center" style="height: 75vh;">
            <div class="card col-sm-11 col-md-8 mb-5 py-4 waves border-info d-flex align-items-center justify-content-center"
                style="height: 50vh;">
                <div class="card text-bg-danger text-center">
                    <div class="card-body">
                        <h1 class="rounded card-title">No results for "{{ searched }}"</h1>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <h1 class="mx-3">You searched for "{{ searched }}"</h1>
        <br>
        {% endif %}
    {% else %}
    <h1 class="mx-3">No search entered!</h1>
    <br>
    {% endif %}
</div>

{% endblock %}