{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h3>Upload Image</h3>

            <p>Enter the fields to upload an image.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <form id="UploadImageForm" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ upload_image_form|crispy }}
                <button id="submitButton" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}